<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/logo.png">
    <link rel="stylesheet" href="../styles/headerStyles.css">

</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="nav-block">
                <a href="">
                    <img src="../images/logo.png" alt="">
                </a>
            </div>
            <div class="nav-block">
                <div class="nav-content">
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Contact Us</a>
                </div>
                <div class="nav-content">
                    <a href="">Login</a>
                    <a href="">Register</a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>